
.ipynb_checkpoints/Segmenting and Clustering Neighborhoods in Toronto-checkpoint.ipynb
.ipynb_checkpoints/Capston Final Project  Comparing Cities - Final-checkpoint.ipynb
.ipynb_checkpoints/Capston Final Project  Comparing Cities - Introduction-checkpoint.ipynb
.ipynb_checkpoints/Capston Final Project  Comparing Cities - Introduction-Copy2-checkpoint.ipynb
.ipynb_checkpoints/Capston Final Project  Comparing Cities - Data-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
old/.ipynb_checkpoints/Capston Final Project  Comparing Cities - Introduction-Copy1-checkpoint.ipynb
old/.ipynb_checkpoints/Capston Final Project  Comparing Cities - Introduction-Copy2-checkpoint.ipynb
.ipynb_checkpoints/Capston Final Project  Comparing Cities - Introduction-checkpoint.ipynb
.ipynb_checkpoints/Capston Final Project  Comparing Cities - Introduction-checkpoint.ipynb
.ipynb_checkpoints/test-checkpoint.ipynb
old/Capston Final Project  Comparing Cities - Introduction-Copy2.ipynb
old/Capston Final Project  Comparing Cities - Introduction-Copy1.ipynb
Capston Final Project  Comparing Cities - Introduction-Copy2.ipynb
.ipynb_checkpoints/Capston Final Project  Comparing Cities - Introduction-checkpoint.ipynb
test.ipynb
Untitled1.ipynb
.ipynb_checkpoints/Capston Final Project  Comparing Cities - Introduction-checkpoint.ipynb
Rapport.docx
THE BATTLE OF NEIGHBORHOODS.pptx
~$apport.docx
~$THE BATTLE OF NEIGHBORHOODS.pptx
